.contacts__form-title {
  @include phones {
    text-align: center;
  }
}

.reviews__about {

  @include phones {
    margin-bottom: 150px;
  }
}

.slider__container {

  @include tablets {
    padding-right: 0;
  }
}

.contacts__form {
  width: 89%;

  @include tablets {
    width: 100%;
  }
}