.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        padding: 0 3%;
    }

    &__menu {

        @include tablets {
            display: none;
        }
    }
    &__col--right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}