.hero {
    
    &__container {
        height: 100vh;
        min-height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3% 0;

        @include tablets {
        padding-top: 7%;
        }
    }
    
    &__bottom-buttons {
        display: flex;
        justify-content: center;

        @include tablets {
            visibility: hidden;
        }
    }
}