.hero__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 0 1.5%;
}

.hero__bottom-buttons {
    display: flex;
    justify-content: center;
}