.menu {

  &--color-white {
    color: rgba($text-color, 1);

    @include phones {
        color: inherit;
    }
  }
}

.menu__list {
    display: flex;
    justify-content: center;
}

.menu__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;

    &:hover {
        font-weight: 600;
    }
}