.scroll-down-btn {
    display: flex;
    align-items: center;
    background: transparent;
    color: $text-color;
    opacity: .8;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        opacity: 1;
        transition: opacity .3s;
    }
}

.scroll-down__icon {
    height: 30px;
    fill: white;
}
