.socials {
    display: flex;
}

.socials__item {
    margin-right: 35px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__icon {
    width: 25px;
    height: 25px;
    fill: $text-color;
    opacity: 0.3;

    &:hover {
        fill: #FF9A00;
        opacity: 1;
        transition: fill .3s, opacity .3s;
    }
}