.userinfo {
    display: flex;
    justify-content: center;
    
}

.userinfo__title {    
    margin-right: 35px;
    font-weight: 600;
    font-size: 18px;
    text-align: end;
    opacity: 0.5;
    margin-top: 10px;
}

.userinfo__name {
    font-weight: 800;
    font-size: 72px;
    flex-basis: 430px;
    line-height: .85;
}