.user__avatar-style {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 180px 70px 135px;
    flex-shrink: 0;

    @include tablets {
        margin: 6px 0 40px 14px;
    }

    @include phones {
        margin: 0 0 22% 0;
    }
}
