.user__avatar-style {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 180px 70px 135px;
    flex-shrink: 0;
}
/* 
.user-display__avatar-style {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
} */