script(type="text/x-template")#reviews-container    
    .slider
        .slider__header
            .reviews__title.section-title Что обо мне говорят
            .slider__buttons
                button(type="button").slider__btn.round-btn.round-btn--pointer--left
                button(type="button").slider__btn.round-btn.round-btn--pointer--right
        .slider__content-wrap
        ul.slider__content
            li.slider__item
            .quote
                .quote__text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                .quote__user
                .user-display
                    .user-display__avatar
                    .user-display__avatar-style
                        +image("content/kovaldn.jpg", "user-display__pic")
                    .user-display__data
                    .user-display__name Дмитрий Ковальчук
                    .user-display__occ Основатель Loftschool
            li.slider__item
            .quote
                .quote__text
                p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                .quote__user
                .user-display
                    .user-display__avatar
                    .user-display__avatar-style
                        +image("content/sabantsev.jpg", "user-display__pic")
                    .user-display__data
                    .user-display__name Владимир Сабанцев
                    .user-display__occ Преподаватель Loftschool